<!--<c-footer>-->
  <div>
    <!-- <a href="https://coreui.io/pro/angular/" target="_blank">CoreUI</a> -->
    <span>Copyright © 2024 Kirloskar Oil Engines Ltd. All rights reserved

    </span>
  </div>
  <div class="ms-auto">

    <div class="row justify-content-end">
<div class="col-md-2">
  <img src = "../../../../assets/SVG/y.svg" alt="My Happy SVG"/>
</div>
<div class="col-md-2">
  <img src = "../../../../assets/SVG/youtube.svg" alt="My Happy SVG"/>
</div>
<div class="col-md-2">
  <img src = "../../../../assets/SVG/in.svg" alt="My Happy SVG"/>
</div>
<div class="col-md-2">
  <img src = "../../../../assets/SVG/face.svg" alt="My Happy SVG"/>
</div>
<div class="col-md-2">
  <img src = "../../../../assets/SVG/insta.svg" alt="My Happy SVG"/>
</div>
    </div>
  </div>
<!--</c-footer>-->
