 <div class="row">
<div class="col-md-12">
  <div class="row">
    <div class="col-md-8">
      <div>

      <div class=" ">
        <div class="section-headings mb-1 mt-2">Summary</div>
      </div>
      <div class="row">
        <div class="col-md-4">

          <div class="bg-white border-rad my-page-cards">
            <div class="row ps-4 pe-4 pt-4">
              <div class="col-md-4">
                  <span>
                <img
                  src="../../../../assets/SVG/TOTALLEAVES.svg"
                  alt="My Happy SVG"
                />
              </span>
                </div>
              <div class="col-md-8"><div></div>
                <div class="my-page-cards-title">TOTAL LEAVES</div>
                <div>(Available)</div>
                <div class="total-counts mt-2 mb-3  ms-3">20</div>
                </div>
                </div>
                </div>

        </div>
        <div class="col-md-4">
          <div class="bg-white border-rad my-page-cards">
            <div class="row ps-4 pe-4 pt-4">
              <div class="col-md-4">
                <span>
              <img
                src="../../../../assets/SVG/MYOKRKRA.svg"
                alt="My Happy SVG"
              />
            </span>
              </div>
            <div class="col-md-8"><div></div>
              <div class="my-page-cards-title">MY OKR/KRA</div>
              </div>
              <div class="col-md-12 pt-4 pb-4">

                <div  >(Appraisal Process)</div>
                </div>
                </div>
                </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white border-rad my-page-cards">
            <div class="row ps-4 pe-4 pt-4">
              <div class="col-md-4">
                <span>
              <img
                src="../../../../assets/SVG/GIFTCARDS.svg"
                alt="My Happy SVG"
              />
            </span>
              </div>
            <div class="col-md-8"><div></div>
              <div class="my-page-cards-title">GIFT CARDS</div>
              </div>
              <div class="col-md-12">

              <div class="total-counts mt-4 mb-2  ms-3">2,000</div>
              </div>
                </div>
                </div>
        </div>
         </div>
      </div>

      <div class="mt-3">

      <div class=" ">
        <div class="section-headings mb-1 mt-2">Expense Reimbursement</div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="bg-white border-rad my-page-cards">
            <div class="row ps-4 pe-4 pt-4">
              <div class="col-md-4">
                <span>
              <img
                src="../../../../assets/SVG/TRAVEL1.svg"
                alt="My Happy SVG"
              />
            </span>
              </div>
            <div class="col-md-8"><div></div>
              <div class="my-page-cards-title">TRAVEL</div>
              </div>
              <div class="col-md-12 pt-4 pb-4">

                <div  >(Travel Reimbursement)</div>
                </div>
                </div>
                </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white border-rad my-page-cards">
            <div class="row ps-4 pe-4 pt-4">
              <div class="col-md-3">
                <span>
              <img
                src="../../../../assets/SVG/CARDRIVERSALARY.svg"
                alt="My Happy SVG"
              />
            </span>
              </div>
            <div class="col-md-9"><div></div>
              <div class="my-page-cards-title">CAR DRIVER SALARY</div>
              </div>
              <div class="col-md-12 pt-4 pb-4">

                <div  >(Driver Salary Reimbursement)</div>
                </div>
                </div>
                </div>
        </div>
        <div class="col-md-4">
          <div class="bg-white border-rad my-page-cards">
            <div class="row ps-4 pe-4 pt-4">
              <div class="col-md-4">
                <span>
              <img
                src="../../../../assets/SVG/MEDICAL.svg"
                alt="My Happy SVG"
              />
            </span>
              </div>
            <div class="col-md-8"><div></div>
              <div class="my-page-cards-title">MEDICAL</div>
              </div>
              <div class="col-md-12 pt-4 pb-4">

                <div> (Medical Reimbursement)</div>
                </div>
                </div>
                </div>
        </div>
         </div>
      </div>
      <div class="mt-3">

      <div class=" ">
        <div class="section-headings mb-1 mt-2">My Balances</div>
      </div>
      <div class="row">

        <div class="col-md-4 mb-3">
          <div class="bg-white border-rad my-page-cards">
            <div class="row ps-4 pe-4 pt-4">
              <div class="col-md-4">
                <span>
              <img
                src="../../../../assets/SVG/LOANAMOUNT.svg"
                alt="My Happy SVG"
              />
            </span>
              </div>
            <div class="col-md-8"><div></div>
              <div class="my-page-cards-title">LOAN AMOUNT</div>
              </div>
              <div class="col-md-12">

              <div class="total-counts mt-3 mb-2  ms-3">30,000</div>
              </div>
                </div>
                </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="bg-white border-rad my-page-cards">
            <div class="row ps-4 pe-4 pt-4">
              <div class="col-md-4">
                <span>
              <img
                src="../../../../assets/SVG/RECURRINGDEPOSIT.svg"
                alt="My Happy SVG"
              />
            </span>
              </div>
            <div class="col-md-8"><div></div>
              <div class="my-page-cards-title">RECURRING DEPOSIT</div>
              </div>
              <div class="col-md-12">

              <div class="total-counts mt-3 mb-2  ms-3">15,000</div>
              </div>
                </div>
                </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="bg-white border-rad my-page-cards">
            <div class="row ps-4 pe-4 pt-4">
              <div class="col-md-4">
                <span>
              <img
                src="../../../../assets/SVG/FIXEDDEPOSIT.svg"
                alt="My Happy SVG"
              />
            </span>
              </div>
            <div class="col-md-8"><div></div>
              <div class="my-page-cards-title">FIXED DEPOSIT</div>
              </div>
              <div class="col-md-12">

              <div class="total-counts mt-3 mb-2  ms-3">15,000</div>
              </div>
                </div>
                </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="bg-white border-rad my-page-cards">
            <div class="row ps-4 pe-4 pt-4">
              <div class="col-md-4">
                <span>
              <img
                src="../../../../assets/SVG/SECURITYDEPOSIT.svg"
                alt="My Happy SVG"
              />
            </span>
              </div>
            <div class="col-md-8"><div></div>
              <div class="my-page-cards-title">SECURITY  DEPOSIT</div>
              </div>
              <div class="col-md-12">

              <div class="total-counts mt-3 mb-2  ms-3">5,000</div>
              </div>
                </div>
                </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="bg-white border-rad my-page-cards">
            <div class="row ps-4 pe-4 pt-4">
              <div class="col-md-4">
                <span>
              <img
                src="../../../../assets/SVG/SHAREBALANCE.svg"
                alt="My Happy SVG"
              />
            </span>
              </div>
            <div class="col-md-8"><div></div>
              <div class="my-page-cards-title">SHARE BALANCE</div>
              </div>
              <div class="col-md-12">

              <div class="total-counts mt-3 mb-2  ms-3">5,000</div>
              </div>
                </div>
                </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="bg-white border-rad my-page-cards">
            <div class="row ps-4 pe-4 pt-4">
              <div class="col-md-4">
                <span>
              <img
                src="../../../../assets/SVG/balance.svg"
                alt="My Happy SVG"
              />
            </span>
              </div>
            <div class="col-md-8"><div></div>
              <div class="my-page-cards-title">SUPERANNUATION
                BALANCE</div>
              </div>
              <div class="col-md-12">

              <div class="total-counts mt-3 mb-2  ms-3">10,000</div>
              </div>
                </div>
                </div>
        </div>
         </div>
      </div>
   </div>
    <div class="col-md-4">

      <div class="row">
        <div class="col-md-12">

          <div class=" ">
            <p class="section-headings">Site Link</p>
          </div>
          <div class="bg-white border-rad">
            <div class="row ps-4 pe-4 pt-4">
              <div class="col-md-12">
                <div class="row vacancy-title-divs border-rad">
                  <div class="col-md-4">
                    <div class="vacancy-title">
                      Payroll Sites
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class=" ">

                      <a href="https://www.zoho.com" target="_blank">https://www.zoho.com</a>
                    </div>
                  </div>
                </div>

                <div class="row vacancy-title-divs border-rad">
                  <div class="col-md-4">
                    <div class="vacancy-title">ITR Sites</div>
                  </div>
                  <div class="col-md-8">
                    <div class=" ">

                      <a href="https://www.incometax.gov.in" target="_blank">https://www.incometax.gov.in </a>
                    </div>
                  </div>
                </div>

                <div class="row vacancy-title-divs border-rad">
                  <div class="col-md-4">
                    <div class="vacancy-title">PF Sites</div>
                  </div>
                  <div class="col-md-8">
                    <div class=" ">
                      <a href="https://www.epfindia.gov.in" target="_blank">https://www.epfindia.gov.in</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">

        </div>
         </div>
         <div class="row">
           <div class="col-md-12">

             <div class=" ">
               <div class="section-headings mb-1 mt-2">My Task</div>
             </div>
             <div class="bg-white border-rad ">
               <div class="row ps-4 pe-4 pt-4">
                 <div class="col-md-12">
                   <div class="row task-title-divs border-rad">
                     <div class="col-md-6">
                       <div class="task-title">
                        Application Name
                       </div>
                     </div>
                     <div class="col-md-3">
                       <div class=" ">

                        Count
                       </div>
                     </div>
                     <div class="col-md-3">
                       <div class=" ">

                        Action
                       </div>
                     </div>
                   </div>


                   <div class="row task-title-divs border-rad">
                    <div class="col-md-6">
                      <div class="task-title">
                        NFA
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                       03
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                        <img
                src="../../../../assets/SVG/view.svg"
                alt=" View"
              />
                      </div>
                    </div>
                  </div>


                   <div class="row task-title-divs border-rad">
                    <div class="col-md-6">
                      <div class="task-title">
                        Travel
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                       02
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                        <img
                src="../../../../assets/SVG/view.svg"
                alt=" View"
              />
                      </div>
                    </div>
                  </div>


                   <div class="row task-title-divs border-rad">
                    <div class="col-md-6">
                      <div class="task-title">
                        Leaves
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                       05
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                        <img
                src="../../../../assets/SVG/view.svg"
                alt=" View"
              />
                      </div>
                    </div>
                  </div>


                   <div class="row task-title-divs border-rad">
                    <div class="col-md-6">
                      <div class="task-title">
                        ATRN
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                       02
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                        <img
                src="../../../../assets/SVG/view.svg"
                alt=" View"
              />
                      </div>
                    </div>
                  </div>


                   <div class="row task-title-divs border-rad">
                    <div class="col-md-6">
                      <div class="task-title">
                        ADF
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                       04
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                        <img
                src="../../../../assets/SVG/view.svg"
                alt=" View"
              />
                      </div>
                    </div>
                  </div>


                   <div class="row task-title-divs border-rad">
                    <div class="col-md-6">
                      <div class="task-title">
                        ATF
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                       03
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                        <img
                src="../../../../assets/SVG/view.svg"
                alt=" View"
              />
                      </div>
                    </div>
                  </div>


                   <div class="row vacancy-title-divs border-rad">
                    <div class="col-md-6">
                      <div class="vacancy-title">
                        ARN
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                       07
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class=" ">

                        <img
                src="../../../../assets/SVG/view.svg"
                alt=" View"
              />
                      </div>
                    </div>
                  </div>


                 </div>
                 <div class="col-md-12 text-right pb-2">
                  <span class="all-label">All task > </span>
                 </div>
               </div>
             </div>
           </div>
           <div class="col-md-12">

           </div>
            </div>
    </div>
     </div>
</div>
 </div>
