
.vacancy-title-divs{
  background-color: #F3F2F2;
  margin-bottom: 14px;
  padding: 6px 10px;
  color: #000;
}
.vacancy-title{
  margin-top: 5px;
}

.vacancy-counts {
  width: 40px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  font-weight: 900;
  font-size: 20px;
  border: 2px solid #fff;
  color: #289F91;
}

.total-counts {
  line-height: 35px;
  border-radius: 50%;
  background-color: #fff;
  font-weight: 600;
  font-size: 24px;
  border: 2px solid #fff;
  color: #0FC38B;
}
.my-page-cards{

  border-left: 3px solid #289F91;
}
.my-page-cards-title
{
color: #000;
font-size: 16px;
}

.my-page-cards-desc
{

  color: #000;
}

.section-headings{
  font-weight: 600;
  font-size: 18px;
  color: #000;
  }

.task-title-divs{
  background-color: #F3F2F2;
  margin-bottom: 14px;
  padding: 6px 10px;
  color: #000;
}
.task-title{
}
.all-label{
  font-size: 12px !important;
}
