// Here you can add other styles

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.bg-white
{
  background-color: #fff;
}
.border-rad{
  border-radius: 5px;
}
.footer{
  background: #fff !important;
margin-top: 20px;
  --cui-footer-border-color: #fff !important;
  --cui-footer-padding-x: 7rem !important;
}

.text-underline{
  text-decoration: underline;
}
.cursor{
  cursor: pointer;
}

.title{
  color: #000;
  font-weight: 500;
  margin-top: 3%;
}

.section-headings{
  font-weight: 700;
  font-size: 24px;
  color: #000;
  }
.ht-200px{

  height: 200px;
}
