<div class=" row">
  <div class="col-12">

    <c-card class="mb-4">

      <c-card-body>
          <div class=" row">

            <div class="col-12">

        <form [formGroup]="visionform">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Vision</label>

                <ckeditor formControlName="description" [editor]="Editor" [config]="config" ></ckeditor>

              </div>
            </form>
            </div>
            <div class="col-12">
              <form [formGroup]="missionform">

              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Mission </label>
                <ckeditor formControlName="description" [editor]="Editor" [config]="config"  ></ckeditor>

              </div>
              </form>
            </div>

            <div class="col-12">
              <form [formGroup]="valuesform">

              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Values</label>
                <ckeditor formControlName="description" [editor]="Editor" [config]="config" ></ckeditor>
              </div>
              </form>
            </div>

            <div class="col-12 text-right">
             <button class="btn cancel-btn" size="lg">
Cancel
             </button>
             <button class="btn save-btn ms-4"  size="lg" (click)="onSubmit()">
Save
             </button>
            </div>
          </div>

        </c-card-body>
        </c-card>
  </div>
</div>
