<div class=" row">
  <div class="col-12">

    <c-card class="mb-4">

      <c-card-body>
        <form>
          <div class=" row">

            <div class="col-12">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Vision</label>
                <textarea cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Enter Vision here..."
                       type="text"
                ></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Mission </label>
                <textarea cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Enter Mission  here..."
                       type="text"
                ></textarea>
              </div>
            </div>

            <div class="col-12">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Values</label>
                <textarea cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Enter Values Date..."
                       type="text"
                ></textarea>
              </div>
            </div>




            <div class="col-12 text-right">
             <button class="btn cancel-btn" size="lg">
Cancel
             </button>
             <button class="btn save-btn ms-4"  size="lg">
Save
             </button>
            </div>
          </div>
        </form>
        </c-card-body>
        </c-card>
  </div>
</div>
