<div class=" row">
  <div class="col-12">

    <c-card class="mb-4">

      <c-card-body>
        <form>
          <div class=" row">

            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Title</label>
                <input cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Enter title here..."
                       type="text"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Description</label>
                <input cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Enter Description here..."
                       type="text"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Photo</label>
                <input cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Photo"
                       type="file"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Start Date</label>
                <input cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Enter Start Date..."
                       type="text"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">End Date</label>
                <input cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Enter End Date..."
                       type="text"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Category</label>
                <input cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Enter Category..."
                       type="text"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Attachment ( Multiple attachment)</label>
                <input cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Enter Attachment..."
                       type="text"
                />
              </div>
            </div>
            <div class="col-4">

            </div>
            <div class="col-12 text-right">
             <button class="btn cancel-btn" size="lg">
Cancel
             </button>
             <button class="btn save-btn ms-4"  size="lg">
Save
             </button>
            </div>
          </div>
        </form>
        </c-card-body>
        </c-card>
  </div>
</div>
