
<div class="row">
  <div class="col-md-12">
    <div class="bg-white pb-1 pt-4 border-rad ps-3 pe-3">

<div class="row">
  <div class="col-md-12  pb-4">
    <div class="vacancy-div">

      <div class="row mt-3">

  <div class="col-md-6  pb-4">
    <div class="row mb-2">
<span class="property-title col-4"> Vacancy ID </span>   <span class="property-value col-8">1234566789000 </span>
    </div>
    <div class="row mb-2">
      <span class="property-title col-4">  Grade </span> <span class="property-value col-8">  Deputy Manager (MG3)</span>
    </div>
    <div class="row mb-2">
      <span class="property-title col-4"> Department  </span> <span class="property-value col-8"> Finance </span>
    </div>
    <div class="row mb-2">
      <span class="property-title col-4"> Location  </span> <span class="property-value col-8"> Khadki </span>
    </div>
    <div class="row mb-2">
      <span class="property-title col-4"> Job Type  </span> <span class="property-value col-8"> Full Time </span>
    </div>
    <div class="row mb-2">
      <span class="property-title col-4">  Salary Range </span> <span class="property-value col-8">00-00 LPA  </span>
    </div>
    </div>
  <div class="col-md-6  pb-4">

    <div class="row mb-2">
      <span class="property-title col-4">  Posted Date -</span> <span class="property-value col-8">20-04-2024  </span>
    </div>
    <div class="row mb-2">
      <span class="property-title col-4">  Closing Date - </span> <span class="property-value col-8">30-05-2024  </span>
    </div>
    <div class="row mb-2">
      <span class="property-title col-4">  Contact Information - </span> <span class="property-value col-8">222244446666  </span>
    </div>
    <div class="row mb-2">
      <span class="property-title col-4">  Status - </span> <span class="property-value col-8">Open  </span>
    </div>
    <div class="row mb-2">
      <span class="property-title col-4">  Open Position - </span> <span class="property-value col-8">02  </span>
    </div>
    <div class="row mb-2">
      <span class="property-title col-4">  Download JD - </span> <span class="property-value col-8">   </span>
    </div>
    </div>
      </div>
    </div>
    </div>
    </div>

    </div>
  </div>
</div>
