<div class="row">
  <div class="col-md-12   col-sm-12 col-lg-12  col-xl-12  col-xxl-12 col-12 ">
    <div class="banner-div pt-5  pb-4 "
    style="background:url('{{wallpaperImage}}') ;"
    >
      <div class="Welcome-text">
        <p>Welcome {{userName}} !</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-9 py-1  col-sm-9 col-lg-9  col-xl-9  col-xxl-9 col-9 ">
          <input
            placeholder="Search Anything Here  "
            cFormControl
            id="inputEmail3"
            class="search-input"
            type="search"
          />
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-md-8  col-sm-8 col-lg-8  col-xl-8  col-xxl-8 col-8">
          <div class="row justify-content-center">
            <div class="col-md-6  col-sm-6 col-lg-6  col-xl-3  col-xxl-3 col-12 mb-4"
            *ngFor="let wallpaperMenus of(landingPageService.wallpaperMenus$|async) ; let i=index">

              <div class="banner-menus cursor" (click)="openModalPopup(true,wallpaperMenus.menuName)" >
                <img
class="mb-1"
                [src]="wallpaperMenus.imageIcon"
                  [alt]="wallpaperMenus.menuName"
                />
                <span class="ms-2 mb-1"> {{wallpaperMenus.menuName}} </span>
              </div>
            </div>
            <!-- <div class="col-md-6 col-sm-6 col-lg-6  col-xl-3  col-xxl-3 col-12 mb-2">
              <div class="banner-menus">
                <img
                  src="../../../../assets/SVG/CanteenMenu.svg"
                  alt="My Happy SVG"
                />
                <span class="ms-2">Canteen Menu</span>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6  col-xl-3  col-xxl-3 col-12 mb-2">
              <div class="banner-menus">
                <img
                  src="../../../../assets/SVG/HolidayCalendar.svg"
                  alt="My Happy SVG"
                />
                <span class="ms-2">Holiday Calendar</span>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6  col-xl-3  col-xxl-3 col-12 mb-2">
              <div class="banner-menus">
                <img
                  src="../../../../assets/SVG/PolicyProcess.svg"
                  alt="My Happy SVG"
                />
                <span class="ms-2">Policy & Process</span>
              </div>
            </div> -->
          </div>
        </div>
      </div>

      <!-- <div class="row justify-content-center mt-2 mb-4">
        <div class="col-md-8  col-sm-8 col-lg-8  col-xl-8  col-xxl-8 col-8">
          <div class="row justify-content-center mt-2 mb-4">
            <div class="col-md-4   col-sm-4 col-lg-4  col-xl-3  col-xxl-3 col-12 mb-2">
              <div class="banner-menus cursor"  [cModalToggle]="staticBackdropModal.id"  >
                <img
                  src="../../../../assets/SVG/Vision.svg"
                  alt="My Happy SVG"
                />
                <span class="ms-2 ">Vision</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4  col-xl-3  col-xxl-3 col-12 mb-2">
              <div class="banner-menus cursor"   [cModalToggle]="staticBackdropModal1.id" >
                <img
                  src="../../../../assets/SVG/Mission.svg"
                  alt="My Happy SVG"
                />
                <span class="ms-2">Mission</span>
              </div>
            </div>
            <div class="col-md-4  col-sm-4 col-lg-4  col-xl-3  col-xxl-3 col-12 mb-2">
              <div class="banner-menus cursor"   [cModalToggle]="staticBackdropModal2.id" >
                <img
                  src="../../../../assets/SVG/Values.svg"
                  alt="My Happy SVG"
                />
                <span class="ms-2">Values</span>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<c-row class="mt-4">
  <div   class="feature-div col-md-12  col-sm-12 col-lg-12  col-xl-12  col-xxl-12 col-12 ">
    <div class="grid-container">
      <div class="grid-item" *ngFor="let quickLinks of(landingPageService.quickLinksMenus$|async) ; let i=index">
        <div class="row cursor" *ngIf="quickLinks.isRoute"  (click)="openFile(quickLinks.route)" >
          <div class="col-md-12  col-sm-12 col-lg-12  col-xl-12  col-xxl-12 col-12 ">
            <span>
              <img
                [src]="quickLinks.imageIcon"
                [alt]="quickLinks.menuName"
              />
            </span>
          </div>

          <div class="col-md-12">
            <span> {{quickLinks.menuName}} </span>
          </div>
        </div>
          <div class="row" *ngIf="!quickLinks.isRoute">
          <div class="col-md-12  col-sm-12 col-lg-12  col-xl-12  col-xxl-12 col-12 ">
            <span>
              <img
                [src]="quickLinks.imageIcon"
                [alt]="quickLinks.menuName"
              />
            </span>
          </div>

          <div class="col-md-12">
            <span> {{quickLinks.menuName}} </span>
          </div>
        </div>
      </div>
      <!-- <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img src="../../../../assets/SVG/NFA.svg" alt="My Happy SVG" />
            </span>
          </div>

          <div class="col-md-12">
            <span> NFA </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img
                src="../../../../assets/SVG/GatePass.svg"
                alt="My Happy SVG"
              />
            </span>
          </div>

          <div class="col-md-12">
            <span> Gate Pass </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img
                src="../../../../assets/SVG/DarwinBox.svg"
                alt="My Happy SVG"
              />
            </span>
          </div>

          <div class="col-md-12">
            <span> Darwin Box </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img src="../../../../assets/SVG/Travel.svg" alt="My Happy SVG" />
            </span>
          </div>

          <div class="col-md-12">
            <span> Travel </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img src="../../../../assets/SVG/BI.svg" alt="My Happy SVG" />
            </span>
          </div>

          <div class="col-md-12">
            <span> BI </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img src="../../../../assets/SVG/Apps.svg" alt="My Happy SVG" />
            </span>
          </div>

          <div class="col-md-12">
            <span> Apps </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img src="../../../../assets/SVG/Awards.svg" alt="My Happy SVG" />
            </span>
          </div>

          <div class="col-md-12">
            <span> Awards </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img
                src="../../../../assets/SVG/Baatcheet.svg"
                alt="My Happy SVG"
              />
            </span>
          </div>

          <div class="col-md-12">
            <span> Baatcheet </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img src="../../../../assets/SVG/Polls.svg" alt="My Happy SVG" />
            </span>
          </div>

          <div class="col-md-12">
            <span> Polls/Survey </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img
                src="../../../../assets/SVG/HR_Queries.svg"
                alt="My Happy SVG"
              />
            </span>
          </div>

          <div class="col-md-12">
            <span> HR Queries </span>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</c-row>
<c-row class="mt-4 mb-4">
  <div class="col-md-12">
<div class="row">

  <c-col sm="12" md="6" lg="6" xl="6" xxl="6">
    <div class="text-center">
      <p class="section-headings">Company Announcement</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="bg-white pb-1   border-rad ps-3 box-shadow Announcement-div">
<div *ngIf="(isAnnouncementLoading$|async)===true">

          <div class="row pt-4"  >
            <div class="col-md-3 col-sm-3 col-lg-3  col-xl-3  col-xxl-3 col-3"   >
              <div  >
                <svg aria-label="Placeholder"
                   cCardImg="top"
                   focusable="false"
                   height="80"
                   preserveAspectRatio="xMidYMid slice"
                   role="img"
                   width="100%"
                   xmlns="http://www.w3.org/2000/svg"
              >
                <title>Placeholder</title>
                <rect fill="#868e96" height="100%" width="100%"></rect>
              </svg>
              </div>
            </div>
            <div  class="col-md-9 col-sm-9 col-lg-9  col-xl-9  col-xxl-9 col-9"  >
              <div class="title m-2"  >

                <p cCardText cPlaceholderAnimation="glow">
                  <span cCol="12" cPlaceholder  ></span>
                </p>
                </div>
                <div class=" m-2">

                <p cCardText cPlaceholderAnimation="glow">
                  <span cCol="12" cPlaceholder  ></span>
                </p>
                </div>
            </div>
          </div>
          <div class="row pt-4"  >
            <div class="col-md-3 col-sm-3 col-lg-3  col-xl-3  col-xxl-3 col-3"   >
              <div  >
                <svg aria-label="Placeholder"
                   cCardImg="top"
                   focusable="false"
                   height="80"
                   preserveAspectRatio="xMidYMid slice"
                   role="img"
                   width="100%"
                   xmlns="http://www.w3.org/2000/svg"
              >
                <title>Placeholder</title>
                <rect fill="#868e96" height="100%" width="100%"></rect>
              </svg>
              </div>
            </div>
            <div  class="col-md-9 col-sm-9 col-lg-9  col-xl-9  col-xxl-9 col-9"  >
              <div class="title m-2"  >

                <p cCardText cPlaceholderAnimation="glow">
                  <span cCol="12" cPlaceholder  ></span>
                </p>
                </div>
                <div class=" m-2">

                <p cCardText cPlaceholderAnimation="glow">
                  <span cCol="12" cPlaceholder  ></span>
                </p>
                </div>
            </div>
          </div>
</div>
          <div class="row pt-4" *ngFor="let announcement of (landingPageService.announcementList$|async);">
            <div class="col-md-3 col-sm-3 col-lg-3  col-xl-3  col-xxl-3 col-3" *ngIf="announcement.isimage">
              <div *ngIf="announcement.attachment.length>0">
                <img
                  class="wid-100"
                  [src]="announcement.attachment[0].image"
                  alt="Announcement"
                />
              </div>
            </div>
            <div  [ngClass]="announcement.isimage===false ? 'col-md-12 col-sm-12 col-lg-12  col-xl-12  col-xxl-12 col-12' : ' col-md-9 col-sm-9 col-lg-9  col-xl-9  col-xxl-9 col-9'" class="">
              <div class="title">
                  {{ announcement.startdate | ordinalRangeDate:announcement.enddate }}
                </div>
              <div>
                {{announcement.title}}

              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-12 text-right">
                <span class="view-more-text cursor me-4" routerLink="/admin/view-more-announcement">View More..</span>
              </div>
            </div>

        </div>
      </div>
    </div>
  </c-col>
  <c-col sm="12" md="6" lg="6" xl="6" xxl="6">
    <div class="text-center">
      <p class="section-headings">Company News</p>
    </div>
    <div class="row">

      <div class="col-md-12"  *ngIf="(isDisplayslider$|async)===false">
        <div class="bg-white pb-1   border-rad ps-3 box-shadow Announcement-div">

          <div class="row pt-4"  >
            <div class="col-md-3 col-sm-3 col-lg-3  col-xl-3  col-xxl-3 col-3"   >
              <div  >
                <svg aria-label="Placeholder"
                   cCardImg="top"
                   focusable="false"
                   height="100"
                   preserveAspectRatio="xMidYMid slice"
                   role="img"
                   width="100%"
                   xmlns="http://www.w3.org/2000/svg"
                   class="mt-3"
              >
                <title>Placeholder</title>
                <rect fill="#868e96" height="100%" width="100%"></rect>
              </svg>
              </div>
            </div>
            <div  class="col-md-9 col-sm-9 col-lg-9  col-xl-9  col-xxl-9 col-9"  >
              <div class="title m-2"  >

                <p cCardText cPlaceholderAnimation="glow">
                  <span cCol="12" cPlaceholder  ></span>
                </p>
                </div>
                <div class=" m-2">

                <p cCardText cPlaceholderAnimation="glow">
                  <span cCol="12" cPlaceholder  ></span>
                </p>
                </div>
                <div class=" m-2">

                <p cCardText cPlaceholderAnimation="glow">
                  <span cCol="12" cPlaceholder  ></span>
                </p>
                </div>
                <div class=" m-2">

                <p cCardText cPlaceholderAnimation="glow">
                  <span cCol="12" cPlaceholder  ></span>
                </p>
                </div>
            </div>
          </div>


        </div>
      </div>
      <div class="col-md-12" *ngIf="(isDisplayslider$|async)===true">
        <c-carousel
          (itemChange)="onItemChange($event)"
          [dark]="true"
          [interval]="5000"
          transition="slide"
        >
          <c-carousel-indicators></c-carousel-indicators>
          <c-carousel-inner>
            <c-carousel-item
              id="news-div"
              *ngFor="let slide of (landingPageService.newsList$|async); index as i"
              class="new-c-items box-shadow"
            >
              <img
                src="../../../../assets/images/images.jpg"
                alt="{{ slide.title }}"
                class="d-block w-100 new-c-items-img border-rad box-shadow"
                loading="lazy"
              />
              <c-carousel-caption class="   ">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-lg-3  col-xl-3  col-xxl-3 col-3" *ngIf="slide.isimage">
                    <div class="pt-4" *ngIf="slide.attachment.length>0">
                      <img
                        class="wid-100 mt-4"
                        [src]="slide.attachment[0].image"
                        alt="News"
                      />
                    </div>
                  </div>
                  <div  [ngClass]="slide.isimage===false ? 'col-md-12 col-sm-12 col-lg-12  col-xl-12  col-xxl-12 col-12' : ' col-md-9 col-sm-9 col-lg-9  col-xl-9  col-xxl-9 col-9'" class="">
 <p class="title cursor" routerLink="/admin/view-detailed-news">
                  {{ slide.title }}
                </p>
                <div>
                  <span class="news-title-text"
                    >   {{ slide.description | truncateWords:40 }}   </span
                  >
                </div>
                  </div>
                </div>

                <div class="read-more-text" routerLink="/admin/news-view-more">
                  <span   >View More..</span>
                </div>
              </c-carousel-caption>
            </c-carousel-item>
          </c-carousel-inner>
          <!-- <c-carousel-control caption="Previous" direction="prev" i18n-caption></c-carousel-control>
              <c-carousel-control caption="Next" direction="next" i18n-caption></c-carousel-control> -->
        </c-carousel>
      </div>
    </div>
  </c-col>
</div>
  </div>
</c-row>

<div class="row">
  <div class="col-md-4">
    <div class=" ">
      <div class="text-center">
        <p class="section-headings">Birthday’s</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="bg-white border-rad bottom-divs box-shadow">
            <div  *ngIf="(isBirthdayDisplayslider$|async)===false">

      <div class="row">
        <div class="col-md-12">
          <div >
            <svg aria-label="Placeholder"
               cCardImg="top"
               focusable="false"
               height="160"
               preserveAspectRatio="xMidYMid slice"
               role="img"
               width="100%"
               xmlns="http://www.w3.org/2000/svg"
          >
            <title>Placeholder</title>
            <rect fill="#868e96" height="100%" width="100%"></rect>
          </svg>
          </div>
          </div>
        <div class="col-md-12 " >

          <p cCardText cPlaceholderAnimation="glow" class="text-center mt-3" >
            <span cCol="6"cPlaceholder  ></span>
          </p>

          <p cCardText cPlaceholderAnimation="glow" class="text-center">
            <span cCol="10"    cPlaceholder  ></span>
          </p>
          <p cCardText cPlaceholderAnimation="glow" class="text-center">
            <span cCol="10"    cPlaceholder  ></span>
          </p>
          </div>
          </div>
            </div>
            <div *ngIf="(isBirthdayDisplayslider$|async)===true">

            <c-carousel
              (itemChange)="onItemChange($event)"
              [dark]="true"
              [interval]="5000"
              transition="slide"
            >
              <c-carousel-indicators></c-carousel-indicators>
              <c-carousel-inner>
                <c-carousel-item
                  id="Birthday-div"
                       *ngFor="let slide of (landingPageService.birthdayList$|async); index as i"

                  class="Birthday-c-items"
                >
                  <img
                    src="../../../../assets/images/images.jpg"
                    alt="{{ slide.employeeName }}"
                    class="d-block w-100 Birthday-c-items-img border-rad"
                    loading="lazy"
                  />
                  <c-carousel-caption class="  d-md-block">
                    <div class="mt-2 birthday-card">
                      <img
                        [src]="slide.userImage"
                        alt=" Birthday Photo"

                      />
                    </div>
                    <p class="title">{{slide.employeeName|uppercase}} </p>
                    <div>
                      <span class="news-title-text">
                        On behalf of the entire company, I wish you a very
                        Happy Birthday.
                      </span>
                    </div>
                  </c-carousel-caption>
                </c-carousel-item>
              </c-carousel-inner>
              <!-- <c-carousel-control caption="Previous" direction="prev" i18n-caption></c-carousel-control>
                <c-carousel-control caption="Next" direction="next" i18n-caption></c-carousel-control> -->
            </c-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <p class="section-headings">New Hires</p>
    </div>
    <div class="">
      <div class="row mb-0">
        <div class="col-md-12">
          <div class="row bg-white border-rad pt-3 pb-3 bottom-divs box-shadow">
          <div class="col-md-4 mt-3  col-sm-4 col-lg-4  col-xl-4  col-xxl-4 col-4 mb-2 text-center"  *ngIf="(isNewHiresLoading$|async)===true">
            <div  >
              <svg aria-label="Placeholder"
                 cCardImg="top"
                 focusable="false"
                 height="50"
                 preserveAspectRatio="xMidYMid slice"
                 role="img"
                 width="100%"
                 xmlns="http://www.w3.org/2000/svg"
                 class="mt-3"
            >
              <title>Placeholder</title>
              <rect fill="#868e96" height="100%" width="100%"></rect>
            </svg>
            </div>
              <div class="title text-center">
                 <p cCardText cPlaceholderAnimation="glow">
                <span cCol="12" cPlaceholder  ></span>
              </p></div>
            </div>
          <div class="col-md-4 mt-3  col-sm-4 col-lg-4  col-xl-4  col-xxl-4 col-4 mb-2 text-center"  *ngIf="(isNewHiresLoading$|async)===true">
            <div  >
              <svg aria-label="Placeholder"
                 cCardImg="top"
                 focusable="false"
                 height="50"
                 preserveAspectRatio="xMidYMid slice"
                 role="img"
                 width="100%"
                 xmlns="http://www.w3.org/2000/svg"
                 class="mt-3"
            >
              <title>Placeholder</title>
              <rect fill="#868e96" height="100%" width="100%"></rect>
            </svg>
            </div>
              <div class="title text-center">
                 <p cCardText cPlaceholderAnimation="glow">
                <span cCol="12" cPlaceholder  ></span>
              </p></div>
            </div>
          <div class="col-md-4 mt-3  col-sm-4 col-lg-4  col-xl-4  col-xxl-4 col-4 mb-2 text-center"  *ngIf="(isNewHiresLoading$|async)===true">
            <div  >
              <svg aria-label="Placeholder"
                 cCardImg="top"
                 focusable="false"
                 height="50"
                 preserveAspectRatio="xMidYMid slice"
                 role="img"
                 width="100%"
                 xmlns="http://www.w3.org/2000/svg"
                 class="mt-3"
            >
              <title>Placeholder</title>
              <rect fill="#868e96" height="100%" width="100%"></rect>
            </svg>
            </div>
              <div class="title text-center">
                 <p cCardText cPlaceholderAnimation="glow">
                <span cCol="12" cPlaceholder  ></span>
              </p></div>
            </div>
          <div class="col-md-4 mt-3  col-sm-4 col-lg-4  col-xl-4  col-xxl-4 col-4 mb-2 text-center"  *ngIf="(isNewHiresLoading$|async)===true">
            <div  >
              <svg aria-label="Placeholder"
                 cCardImg="top"
                 focusable="false"
                 height="50"
                 preserveAspectRatio="xMidYMid slice"
                 role="img"
                 width="100%"
                 xmlns="http://www.w3.org/2000/svg"
                 class="mt-3"
            >
              <title>Placeholder</title>
              <rect fill="#868e96" height="100%" width="100%"></rect>
            </svg>
            </div>
              <div class="title text-center">
                 <p cCardText cPlaceholderAnimation="glow">
                <span cCol="12" cPlaceholder  ></span>
              </p></div>
            </div>
          <div class="col-md-4 mt-3  col-sm-4 col-lg-4  col-xl-4  col-xxl-4 col-4 mb-2 text-center"  *ngIf="(isNewHiresLoading$|async)===true">
            <div  >
              <svg aria-label="Placeholder"
                 cCardImg="top"
                 focusable="false"
                 height="50"
                 preserveAspectRatio="xMidYMid slice"
                 role="img"
                 width="100%"
                 xmlns="http://www.w3.org/2000/svg"
                 class="mt-3"
            >
              <title>Placeholder</title>
              <rect fill="#868e96" height="100%" width="100%"></rect>
            </svg>
            </div>
              <div class="title text-center">
                 <p cCardText cPlaceholderAnimation="glow">
                <span cCol="12" cPlaceholder  ></span>
              </p></div>
            </div>
          <div class="col-md-4 mt-3  col-sm-4 col-lg-4  col-xl-4  col-xxl-4 col-4 mb-2 text-center"  *ngIf="(isNewHiresLoading$|async)===true">
            <div  >
              <svg aria-label="Placeholder"
                 cCardImg="top"
                 focusable="false"
                 height="50"
                 preserveAspectRatio="xMidYMid slice"
                 role="img"
                 width="100%"
                 xmlns="http://www.w3.org/2000/svg"
                 class="mt-3"
            >
              <title>Placeholder</title>
              <rect fill="#868e96" height="100%" width="100%"></rect>
            </svg>
            </div>
              <div class="title text-center">
                 <p cCardText cPlaceholderAnimation="glow">
                <span cCol="12" cPlaceholder  ></span>
              </p></div>
            </div>
            <div class="col-md-4 mt-3  col-sm-4 col-lg-4  col-xl-4  col-xxl-4 col-4 mb-2 text-center"
            *ngFor="let newHier of (landingPageService.newHiresList$|async)"
            >
            <div *ngIf="newHier.attachment.length>0">
              <img
                class="wid-100"
                [src]="newHier.attachment[0].image"
                alt="New Hires"
              />
            </div>
              <div class="title text-center">{{newHier.title}}</div>
            </div>
            <!--
            <div class="col-md-4 mt-3  col-sm-4 col-lg-4  col-xl-4  col-xxl-4 col-4 mb-2 text-center">
              <img
                class=" "
                src="../../../../assets/images/hires3.png"
                alt="My Happy SVG"
              />
              <div class="title text-center">Neha Tiwari</div>
            </div>
            <div class="col-md-4 mt-3  col-sm-4 col-lg-4  col-xl-4  col-xxl-4 col-4 mb-2 text-center">
              <img
                class=" "
                src="../../../../assets/images/hires1.png"
                alt="My Happy SVG"
              />
              <div class="title text-center">Rajat Patil</div>
            </div>
            <div class="col-md-4 mt-3  col-sm-4 col-lg-4  col-xl-4  col-xxl-4 col-4 mb-2 text-center">
              <img
                class=" "
                src="../../../../assets/images/hires2.png"
                alt="My Happy SVG"
              />
              <div class="title text-center">Priya Patil</div>
            </div>
            <div class="col-md-4 mt-3  col-sm-4 col-lg-4  col-xl-4  col-xxl-4 col-4 mb-2 text-center">
              <img
                class=" "
                src="../../../../assets/images/hires3.png"
                alt="My Happy SVG"
              />
              <div class="title text-center">Neha Tiwari</div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <p class="section-headings">Vacancy Posting</p>
    </div>
    <div class="bg-white border-rad bottom-divs box-shadow">
      <div class="row ps-4 pe-4 pt-4">
        <div class="col-md-12">
          <div *ngIf="(isVacancyLoading$|async)===true">

          <div class="row vacancy-title-divs border-rad  ">
            <div class="col-md-12   col-sm-12 col-lg-12  col-xl-12  col-xxl-12 col-12  ">
              <div class=" ">
                <p cCardText cPlaceholderAnimation="glow" class="mb-2">
                  <span cCol="12" cPlaceholder  ></span>
              </div>
            </div>
          </div>
          <div class="row vacancy-title-divs border-rad  ">
            <div class="col-md-12   col-sm-12 col-lg-12  col-xl-12  col-xxl-12 col-12  ">
              <div class=" ">
                <p cCardText cPlaceholderAnimation="glow" class="mb-2">
                  <span cCol="12" cPlaceholder  ></span>
              </div>
            </div>
          </div>
          <div class="row vacancy-title-divs border-rad  ">
            <div class="col-md-12   col-sm-12 col-lg-12  col-xl-12  col-xxl-12 col-12  ">
              <div class=" ">
                <p cCardText cPlaceholderAnimation="glow" class="mb-2">
                  <span cCol="12" cPlaceholder  ></span>
              </div>
            </div>
          </div>
          <div class="row vacancy-title-divs border-rad  ">
            <div class="col-md-12   col-sm-12 col-lg-12  col-xl-12  col-xxl-12 col-12  ">
              <div class=" ">
                <p cCardText cPlaceholderAnimation="glow" class="mb-2">
                  <span cCol="12" cPlaceholder  ></span>
              </div>
            </div>
          </div>
          <div class="row vacancy-title-divs border-rad  ">
            <div class="col-md-12   col-sm-12 col-lg-12  col-xl-12  col-xxl-12 col-12  ">
              <div class=" ">
                <p cCardText cPlaceholderAnimation="glow" class="mb-2">
                  <span cCol="12" cPlaceholder  ></span>
              </div>
            </div>
          </div>
          <div class="row vacancy-title-divs border-rad  ">
            <div class="col-md-12   col-sm-12 col-lg-12  col-xl-12  col-xxl-12 col-12  ">
              <div class=" ">
                <p cCardText cPlaceholderAnimation="glow" class="mb-2">
                  <span cCol="12" cPlaceholder  ></span>
              </div>
            </div>
          </div>

          </div>

          <div class="row vacancy-title-divs border-rad  "   *ngFor="let vacancy of (landingPageService.vacancyList$|async)"
          >
            <div class="col-md-9   col-sm-10 col-lg-10  col-xl-10  col-xxl-10 col-9  ">
              <div class="vacancy-title">
                {{vacancy.jobtitle}}
              </div>
            </div>
            <div class="col-md-3 col-sm-2 col-lg-2  col-xl-2  col-xxl-2 col-3 ">
              <div class="vacancy-counts">  {{vacancy.vacancycount}} </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<c-modal #staticBackdropModal backdrop="static" [size]="'lg'"
alignment="center" id="staticBackdropModal"   [visible]="visionModal" (visibleChange)="handleLiveDemoChange($event)">

  <c-modal-body>
<div class="row ">
  <div class="col-md-6">
<div class="vision-title-div">

       <span cModalTitle class="vision-title pb-3">
        <img
      src="../../../../assets/SVG/modal-vision.svg"
      alt="vision-title" class="mb-3 me-3"
    /> OUR VISION</span>
</div>
  </div>
  <div class="col-md-6 text-right">
      <div [cModalToggle]="staticBackdropModal.id"  class="cursor">
        <img
      src="../../../../assets/SVG/close.svg"
      alt="My Happy SVG"
    />
      </div>
  </div>
</div>
<div class="row mt-3">
<div class="col-md-8">
<div>
  <p class="vision-text mt-4" [innerHTML]="vision">
  </p>
</div>
</div>
<div class="col-md-4">
<div class="vision-img-div" >

</div>
</div>
</div>
  </c-modal-body>

</c-modal>



<c-modal #staticBackdropModal1 backdrop="static" [size]="'lg'"
alignment="center" id="staticBackdropModal1"   [visible]="misionModal" (visibleChange)="handleLiveDemoChange1($event)">

  <c-modal-body>
<div class="row ">
  <div class="col-md-6">
<div class="vision-title-div">

       <span cModalTitle class="vision-title pb-3">
        <img
      src="../../../../assets/SVG/modal-mission.svg"
      alt="vision-title" class="mb-3 me-3"
    /> OUR MISSION</span>
</div>
  </div>
  <div class="col-md-6 text-right">
      <div [cModalToggle]="staticBackdropModal1.id"  class="cursor">
        <img
      src="../../../../assets/SVG/close.svg"
      alt="My Happy SVG"
    />
      </div>
  </div>
</div>
<div class="row mt-3">
<div class="col-md-8">
<div>
  <p class="vision-text mt-4" [innerHTML]="mission">
  </p>
</div>
</div>
<div class="col-md-4">
<div class="mission-img-div" >

</div>
</div>
</div>
  </c-modal-body>

</c-modal>



<c-modal #staticBackdropModal2 backdrop="static" [size]="'lg'"
alignment="center" id="staticBackdropModal2"   [visible]="valueModal" (visibleChange)="handleLiveDemoChange2($event)">

  <c-modal-body>
<div class="row ">
  <div class="col-md-6">
<div class="vision-title-div">

       <span cModalTitle class="vision-title pb-3">
        <img
      src="../../../../assets/SVG/modal-value.svg"
      alt="vision-title" class="mb-3 me-3"
    /> OUR VALUE</span>
</div>
  </div>
  <div class="col-md-6 text-right">
      <div [cModalToggle]="staticBackdropModal2.id"  class="cursor">
        <img
      src="../../../../assets/SVG/close.svg"
      alt="My Happy SVG"
    />
      </div>
  </div>
</div>
<div class="row mt-3">
<div class="col-md-8">
  <div [innerHTML]="values">

  </div>
<!-- <div class="mb-3">
  <span class=" value-title-text  ">
    Excellence-
  </span><span class="value-desc">In everything we do, quality without compromise

  </span>
</div>
<div class="mb-3">
  <span class=" value-title-text  ">
    Integrity-
  </span><span class="value-desc">Say what we do, and do what we say
  </span>
</div>
<div class="mb-3">
  <span class=" value-title-text  ">
    Collaboration-
  </span><span class="value-desc">We grow with people and partners
  </span>
</div>
<div class="mb-3">
  <span class=" value-title-text  ">
    Empathy-
  </span><span class="value-desc">We always listen, and learn  </span>
</div>
<div class="mb-3">
  <span class="value-title-text   ">
    Value Creation-
  </span><span class="value-desc">We're building for a shared prosperous future </span>
</div>
<div class="mb-3">
  <span class=" value-title-text  ">
    Innovative Thniking-
  </span><span class="value-desc">Be bold and brave, & stay relevant </span>
</div> -->
</div>
<div class="col-md-4">
<div class="value-img-div" >

</div>
</div>
</div>
  </c-modal-body>

</c-modal>



<c-modal #staticBackdropModal3 backdrop="static" [size]="'lg'"
alignment="center" id="staticBackdropModal3"   [visible]="canteenMenuModal" (visibleChange)="handleLiveDemoChange3($event)">

  <c-modal-body class="canteen-menu-div">
    <div [cModalToggle]="staticBackdropModal3.id"  class="cursor   text-right">
      <img class="close-img"
    src="../../../../assets/SVG/close.svg"
    alt="My Happy SVG"
  />
    </div>

<div>
  <div class="arrow-div left-arrow">
    <img
    src="../../../../assets/images/left-arrow.png"
    alt="My Happy SVG"
  />
  </div>
  <div class="arrow-div right-arrow">
    <img
    src="../../../../assets/images/right-arrow.png"
    alt="My Happy SVG"
  />
  </div>
  <div class="date-div">
<span>19-03-2024</span>
  </div>
  <div class="menu-container">
    <div class="menu-div">

        <h2 class="  menu-title">BREAKFAST</h2>
    <div class="menu">
        <ul>
            <li>Idli</li>
            <li>Sambar</li>
            <li>Shev</li>
        </ul>
    </div>
    </div>
    <div class="menu-div">

        <h2 class="  menu-title">LUNCH</h2>
    <div class="menu1">
        <div class="row">

          <div class="col-6">
            <ul>
              <li>Chole Masala</li>
              <li>Dal Fry</li>
              <li>Plain Rice</li>
              <li>Chapati</li>
              <li>Pickle</li>

          </ul>
          </div>
          <div class="col-6">
            <ul>

              <li>Bobby</li>
              <li>Potato Bhaji</li>
              <li>Sabudana Khichdi</li>
              <li>Taak</li>
              <li>Watermelon</li>
          </ul>
          </div>
        </div>

    </div>
    </div>
</div>
</div>

  </c-modal-body>

</c-modal>

<c-modal #staticBackdropModal4 backdrop="static" [size]="'lg'"
alignment="center" id="staticBackdropModal4"   [visible]="holidayCalenderModal" (visibleChange)="handleLiveDemoChange4($event)">

  <c-modal-body class="holiday-Calender-div">
    <div [cModalToggle]="staticBackdropModal4.id"  class="cursor   text-right">
      <img class="close-img"
    src="../../../../assets/SVG/close.svg"
    alt="My Happy SVG"
  />
    </div>
    <div class="holidayCalender">
<div class="row">
<div class="col-12 text-center">
<h2 class="Calender-title">HOLIDAY CALENDAR 2024</h2>
</div>
</div>
<div class="row"    >
<div class="col-4">
<span class="Calender-cols"> Festival  </span>
</div>
<div class="col-4">

<span>   </span>
</div>
<div class="col-4">

<span class="Calender-cols"> Day </span>
</div>
</div>
<div class="row"    *ngFor="let calendar of (landingPageService.holidayCalendarList$|async); index as i">
<div class="col-4">
<span class="Calender-vals"> {{calendar.holiday}} </span>
</div>
<div class="col-4">

<span class="Calender-vals"> {{calendar.date|date:'dd-MM-yyyy'}} </span>
</div>
<div class="col-4">

<span class="Calender-vals"> {{calendar.day}} </span>
</div>
</div>
    </div>

  </c-modal-body>

</c-modal>
