<div class="row">
  <div class="col-md-12">
    <div class="banner-div pt-5">
      <div class="Welcome-text">
        <p>Welcome Deepa!</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-9 py-1">
          <input
            placeholder="Search Anything Here  "
            cFormControl
            id="inputEmail3"
            class="search-input"
            type="search"
          />
        </div>
      </div>
      <div class="row justify-content-center mt-2">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-3">
              <div class="banner-menus">
                <img
                  src="../../../../assets/SVG/CompanyAward.svg"
                  alt="My Happy SVG"
                />
                <span class="ms-2">Company Award</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="banner-menus">
                <img
                  src="../../../../assets/SVG/CanteenMenu.svg"
                  alt="My Happy SVG"
                />
                <span class="ms-2">Canteen Menu</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="banner-menus">
                <img
                  src="../../../../assets/SVG/HolidayCalendar.svg"
                  alt="My Happy SVG"
                />
                <span class="ms-2">Holiday Calendar</span>
              </div>
            </div>
            <div class="col-md-3">
              <div class="banner-menus">
                <img
                  src="../../../../assets/SVG/PolicyProcess.svg"
                  alt="My Happy SVG"
                />
                <span class="ms-2">Policy & Process</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-2">
        <div class="col-md-8">
          <div class="row justify-content-center mt-2">
            <div class="col-md-2">
              <div class="banner-menus cursor"  [cModalToggle]="staticBackdropModal.id"  >
                <img
                  src="../../../../assets/SVG/Vision.svg"
                  alt="My Happy SVG"
                />
                <span class="ms-2 ">Vision</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="banner-menus cursor"   [cModalToggle]="staticBackdropModal1.id" >
                <img
                  src="../../../../assets/SVG/Mission.svg"
                  alt="My Happy SVG"
                />
                <span class="ms-2">Mission</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="banner-menus cursor"   [cModalToggle]="staticBackdropModal2.id" >
                <img
                  src="../../../../assets/SVG/Values.svg"
                  alt="My Happy SVG"
                />
                <span class="ms-2">Values</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<c-row class="mt-4">
  <c-col sm="12" class="feature-div">
    <div class="grid-container">
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img
                src="../../../../assets/SVG/itMitra.svg"
                alt="My Happy SVG"
              />
            </span>
          </div>

          <div class="col-md-12">
            <span> IT Mitra </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img src="../../../../assets/SVG/NFA.svg" alt="My Happy SVG" />
            </span>
          </div>

          <div class="col-md-12">
            <span> NFA </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img
                src="../../../../assets/SVG/GatePass.svg"
                alt="My Happy SVG"
              />
            </span>
          </div>

          <div class="col-md-12">
            <span> Gate Pass </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img
                src="../../../../assets/SVG/DarwinBox.svg"
                alt="My Happy SVG"
              />
            </span>
          </div>

          <div class="col-md-12">
            <span> Darwin Box </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img src="../../../../assets/SVG/Travel.svg" alt="My Happy SVG" />
            </span>
          </div>

          <div class="col-md-12">
            <span> Travel </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img src="../../../../assets/SVG/BI.svg" alt="My Happy SVG" />
            </span>
          </div>

          <div class="col-md-12">
            <span> BI </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img src="../../../../assets/SVG/Apps.svg" alt="My Happy SVG" />
            </span>
          </div>

          <div class="col-md-12">
            <span> Apps </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img src="../../../../assets/SVG/Awards.svg" alt="My Happy SVG" />
            </span>
          </div>

          <div class="col-md-12">
            <span> Awards </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img
                src="../../../../assets/SVG/Baatcheet.svg"
                alt="My Happy SVG"
              />
            </span>
          </div>

          <div class="col-md-12">
            <span> Baatcheet </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img src="../../../../assets/SVG/Polls.svg" alt="My Happy SVG" />
            </span>
          </div>

          <div class="col-md-12">
            <span> Polls/Survey </span>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="row">
          <div class="col-md-12">
            <span>
              <img
                src="../../../../assets/SVG/HR_Queries.svg"
                alt="My Happy SVG"
              />
            </span>
          </div>

          <div class="col-md-12">
            <span> HR Queries </span>
          </div>
        </div>
      </div>
    </div>
  </c-col>
</c-row>
<c-row class="mt-4 mb-4">
  <div class="col-md-12">
<div class="row">

  <c-col sm="6">
    <div class="text-center">
      <p class="section-headings">Company Announcement</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="bg-white pb-1 pt-4 border-rad ps-3">
          <div class="row mb-4">
            <div class="col-md-3">
              <div>
                <img
                  class="wid-100"
                  src="../../../../assets/images/img1.png"
                  alt="My Happy SVG"
                />
              </div>
            </div>
            <div class="col-md-9">
              <div class="title">25th to 10th April 2024</div>
              <div>
                Declaration window is now open for Flexi Basket Options.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div>
                <img
                  class="wid-100"
                  src="../../../../assets/images/img2.png"
                  alt="My Happy SVG"
                />
              </div>
            </div>
            <div class="col-md-9">
              <div class="title">25th to 10th April 2024</div>
              <div>
                Declaration window is now open for Flexi Basket Options.
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-right">
                <span class="view-more-text">View More..</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </c-col>
  <c-col sm="6">
    <div class="text-center">
      <p class="section-headings">Company News</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <c-carousel
          (itemChange)="onItemChange($event)"
          [dark]="true"
          [interval]="50000"
          transition="slide"
        >
          <c-carousel-indicators></c-carousel-indicators>
          <c-carousel-inner>
            <c-carousel-item
              id="news-div"
              *ngFor="let slide of slides[2]; index as i"
              class="new-c-items"
            >
              <img
                src="../../../../assets/images/images.jpg"
                alt="{{ slide.title }}"
                class="d-block w-100 new-c-items-img border-rad"
                loading="lazy"
              />
              <c-carousel-caption class="d-none d-md-block">
                <p class="title">
                  Kirloskar Vasundhara International Film Festival at Kolhapur
                </p>
                <div>
                  <span class="news-title-text"
                    >The Kolhapur chapter of the 'Kirloskar Vasundhara
                    International Film Festival' (KVIFF) was held on September
                    18-24, 2024. The festival has been organized in the city as
                    part of its India tour across 25 locations in six
                    states.</span
                  >
                </div>
                <div>
                  <span class="read-more-text">Read More..</span>
                </div>
              </c-carousel-caption>
            </c-carousel-item>
          </c-carousel-inner>
          <!-- <c-carousel-control caption="Previous" direction="prev" i18n-caption></c-carousel-control>
              <c-carousel-control caption="Next" direction="next" i18n-caption></c-carousel-control> -->
        </c-carousel>
      </div>
    </div>
  </c-col>
</div>
  </div>
</c-row>

<div class="row">
  <div class="col-md-4">
    <div class=" ">
      <div class="text-center">
        <p class="section-headings">Birthday’s</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="bg-white border-rad">
            <c-carousel
              (itemChange)="onItemChange($event)"
              [dark]="true"
              [interval]="50000"
              transition="slide"
            >
              <c-carousel-indicators></c-carousel-indicators>
              <c-carousel-inner>
                <c-carousel-item
                  id="Birthday-div"
                  *ngFor="let slide of slides[2]; index as i"
                  class="Birthday-c-items"
                >
                  <img
                    src="../../../../assets/images/images.jpg"
                    alt="{{ slide.title }}"
                    class="d-block w-100 Birthday-c-items-img border-rad"
                    loading="lazy"
                  />
                  <c-carousel-caption class="d-none d-md-block">
                    <div class="mt-2">
                      <img
                        src="../../../../assets/images/birthday.png"
                        alt=" Birthday Photo"
                      />
                    </div>
                    <p class="title">Sneha ( From IT Dep)</p>
                    <div>
                      <span class="news-title-text"
                        >On behalf of the entire company, I wish you a very
                        Happy Birthday.
                      </span>
                    </div>
                  </c-carousel-caption>
                </c-carousel-item>
              </c-carousel-inner>
              <!-- <c-carousel-control caption="Previous" direction="prev" i18n-caption></c-carousel-control>
                <c-carousel-control caption="Next" direction="next" i18n-caption></c-carousel-control> -->
            </c-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <p class="section-headings">New Hires</p>
    </div>
    <div class="">
      <div class="row mb-0">
        <div class="col-md-12">
          <div class="row bg-white border-rad pt-3 pb-3">
            <div class="col-md-4 mt-3">
              <img
                class="wid-100"
                src="../../../../assets/images/hires1.png"
                alt="My Happy SVG"
              />
              <div class="title text-center">Rajat Patil</div>
            </div>
            <div class="col-md-4 mt-3">
              <img
                class="wid-100"
                src="../../../../assets/images/hires2.png"
                alt="My Happy SVG"
              />
              <div class="title text-center">Priya Patil</div>
            </div>
            <div class="col-md-4 mt-3">
              <img
                class="wid-100"
                src="../../../../assets/images/hires3.png"
                alt="My Happy SVG"
              />
              <div class="title text-center">Neha Tiwari</div>
            </div>
            <div class="col-md-4 mt-3">
              <img
                class="wid-100"
                src="../../../../assets/images/hires1.png"
                alt="My Happy SVG"
              />
              <div class="title text-center">Rajat Patil</div>
            </div>
            <div class="col-md-4 mt-3">
              <img
                class="wid-100"
                src="../../../../assets/images/hires2.png"
                alt="My Happy SVG"
              />
              <div class="title text-center">Priya Patil</div>
            </div>
            <div class="col-md-4 mt-3">
              <img
                class="wid-100"
                src="../../../../assets/images/hires3.png"
                alt="My Happy SVG"
              />
              <div class="title text-center">Neha Tiwari</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <p class="section-headings">Vacancy Posting</p>
    </div>
    <div class="bg-white border-rad">
      <div class="row ps-4 pe-4 pt-4">
        <div class="col-md-12">
          <div class="row vacancy-title-divs border-rad">
            <div class="col-md-10">
              <div class="vacancy-title">
                Deputy Manager - Area Sales Manager
              </div>
            </div>
            <div class="col-md-2">
              <div class="vacancy-counts">4</div>
            </div>
          </div>

          <div class="row vacancy-title-divs border-rad">
            <div class="col-md-10">
              <div class="vacancy-title">Manager</div>
            </div>
            <div class="col-md-2">
              <div class="vacancy-counts">2</div>
            </div>
          </div>

          <div class="row vacancy-title-divs border-rad">
            <div class="col-md-10">
              <div class="vacancy-title">Deputy Manager - Area Manager</div>
            </div>
            <div class="col-md-2">
              <div class="vacancy-counts">1</div>
            </div>
          </div>

          <div class="row vacancy-title-divs border-rad">
            <div class="col-md-10">
              <div class="vacancy-title">Manager - Area Manager</div>
            </div>
            <div class="col-md-2">
              <div class="vacancy-counts">5</div>
            </div>
          </div>

          <div class="row vacancy-title-divs border-rad">
            <div class="col-md-10">
              <div class="vacancy-title">
                Junior Engineer - Area Sales Officer
              </div>
            </div>
            <div class="col-md-2">
              <div class="vacancy-counts">3</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<c-modal #staticBackdropModal backdrop="static" [size]="'lg'"
alignment="center" id="staticBackdropModal"   [visible]="liveDemoVisible" (visibleChange)="handleLiveDemoChange($event)">

  <c-modal-body>
<div class="row ">
  <div class="col-md-6">
<div class="vision-title-div">

       <span cModalTitle class="vision-title pb-3">
        <img
      src="../../../../assets/SVG/modal-vision.svg"
      alt="vision-title" class="mb-3 me-3"
    /> OUR VISION</span>
</div>
  </div>
  <div class="col-md-6 text-right">
      <div [cModalToggle]="staticBackdropModal.id"  class="cursor">
        <img
      src="../../../../assets/SVG/close.svg"
      alt="My Happy SVG"
    />
      </div>
  </div>
</div>
<div class="row mt-3">
<div class="col-md-8">
<div>
  <p class="vision-text mt-4">
    We power a caring, prosperous and sustainable future.


  </p>
</div>
</div>
<div class="col-md-4">
<div class="vision-img-div" >

</div>
</div>
</div>
  </c-modal-body>

</c-modal>



<c-modal #staticBackdropModal1 backdrop="static" [size]="'lg'"
alignment="center" id="staticBackdropModal1"   [visible]="liveDemoVisible1" (visibleChange)="handleLiveDemoChange1($event)">

  <c-modal-body>
<div class="row ">
  <div class="col-md-6">
<div class="vision-title-div">

       <span cModalTitle class="vision-title pb-3">
        <img
      src="../../../../assets/SVG/modal-mission.svg"
      alt="vision-title" class="mb-3 me-3"
    /> OUR MISSION</span>
</div>
  </div>
  <div class="col-md-6 text-right">
      <div [cModalToggle]="staticBackdropModal1.id"  class="cursor">
        <img
      src="../../../../assets/SVG/close.svg"
      alt="My Happy SVG"
    />
      </div>
  </div>
</div>
<div class="row mt-3">
<div class="col-md-8">
<div>
  <p class="vision-text mt-4">
    We engineer solutions to enable our customers to live their limitless potential.




  </p>
</div>
</div>
<div class="col-md-4">
<div class="mission-img-div" >

</div>
</div>
</div>
  </c-modal-body>

</c-modal>



<c-modal #staticBackdropModal2 backdrop="static" [size]="'lg'"
alignment="center" id="staticBackdropModal2"   [visible]="liveDemoVisible2" (visibleChange)="handleLiveDemoChange2($event)">

  <c-modal-body>
<div class="row ">
  <div class="col-md-6">
<div class="vision-title-div">

       <span cModalTitle class="vision-title pb-3">
        <img
      src="../../../../assets/SVG/modal-value.svg"
      alt="vision-title" class="mb-3 me-3"
    /> OUR VALUE</span>
</div>
  </div>
  <div class="col-md-6 text-right">
      <div [cModalToggle]="staticBackdropModal2.id"  class="cursor">
        <img
      src="../../../../assets/SVG/close.svg"
      alt="My Happy SVG"
    />
      </div>
  </div>
</div>
<div class="row mt-3">
<div class="col-md-8">
<div class="mb-3">
  <span class=" value-title-text  ">
    Excellence-
  </span><span class="value-desc">In everything we do, quality without compromise

  </span>
</div>
<div class="mb-3">
  <span class=" value-title-text  ">
    Integrity-
  </span><span class="value-desc">Say what we do, and do what we say
  </span>
</div>
<div class="mb-3">
  <span class=" value-title-text  ">
    Collaboration-
  </span><span class="value-desc">We grow with people and partners
  </span>
</div>
<div class="mb-3">
  <span class=" value-title-text  ">
    Empathy-
  </span><span class="value-desc">We always listen, and learn  </span>
</div>
<div class="mb-3">
  <span class="value-title-text   ">
    Value Creation-
  </span><span class="value-desc">We're building for a shared prosperous future </span>
</div>
<div class="mb-3">
  <span class=" value-title-text  ">
    Innovative Thniking-
  </span><span class="value-desc">Be bold and brave, & stay relevant </span>
</div>
</div>
<div class="col-md-4">
<div class="value-img-div" >

</div>
</div>
</div>
  </c-modal-body>

</c-modal>

