<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
             connectionString="Data Source=192.168.16.24; Initial Catalog=KOELTransaction; User ID=koel_connect; Password=Welcome@1234; MultipleActiveResultSets=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>