.login-bg
{
  background-image: url('../../../../assets/images/LoginBG.png') !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
}
.login-label{
color: #fff;
}
.login-btn{

  border-radius: 25px 25px;
  width: 100%;
  background-color: #289F91;
  border: 1px solid #289F91;
}
.login-input
{
  border-radius: 25px 25px; 
}
