

<div class="row">
  <div class="col-md-12">

    <c-card class="mb-4">

      <c-card-body>

    <table cTable class="custom-table">
      <thead>
      <tr class="header-tr">
        <th scope="col">Menu Name </th>
        <th scope="col">Route </th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let quickLink of (quickLinksService.quickLinksMenuList$|async)">

        <td>{{quickLink.menuName}}</td>
        <td>{{quickLink.route}}</td>
        <td>
        <div>
          <img
          src="../../../../../assets/SVG/view-icon.svg"
          alt="My Happy SVG"
        />
         <img class="ms-3 cursor" [routerLink]="'/admin/edit-quick-links/'+quickLink.menusId"
        src="../../../../../assets/SVG/edit-icon.svg"
        alt="My Happy SVG"
      />
        </div>
        </td>
      </tr>

      </tbody>
    </table>

    <div  class="row" *ngIf="(quickLinksService.isLoading$ |async)">
      <div class="text-center col-12">
              <c-spinner size="sm" variant="grow"></c-spinner><span>Loading...</span>
              </div>
                  </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-end  mb-5 "
          *ngIf="pagination">
          <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;" [maxSize]="5" [rotate]="true">
          </pagination>
      </div>
  </div>
      </c-card-body>
    </c-card>
  </div>
  </div>
