<div class=" row">
  <div class="col-12">

    <c-card class="mb-4">

      <c-card-body>
        <form [formGroup]="newHiresForm">
          <div class=" row">

            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Title</label>
                <input cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Enter title here..."
                       formControlName="title"
                       type="text"
                        [ngClass]="{
                        'is-invalid':
                          submitted && newHiresForm.get('title')?.hasError('required')
                      }"
                />
                <div
                class="invalid-feedback"
                *ngIf="newHiresForm.get('title')?.hasError('required')"
                >
                Title is required.
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Description</label>
                <textarea cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Enter Description here..."
                       type="text"
                       rows="1"
                       formControlName="description"
                       [ngClass]="{
                        'is-invalid':
                          submitted && newHiresForm.get('description')?.hasError('required')
                      }"
                ></textarea>

                <div
                class="invalid-feedback"
                *ngIf="newHiresForm.get('description')?.hasError('required')"
                >
                Description is required.
                </div>
              </div>
            </div>
 
            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Start Date</label>

                <input type="text"
                placeholder="Start Date"
                class="form-control" bsDatepicker formControlName="startdate"   [ngClass]="{
                  'is-invalid':
                    submitted && newHiresForm.get('startdate')?.hasError('required')
                }"
                [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MMM-YYYY' }">

                <div
                class="invalid-feedback"
                *ngIf="newHiresForm.get('startdate')?.hasError('required')"
                >
                Start Date is required.
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">End Date</label>
                <input type="text"
                placeholder="Start Date"
                class="form-control" bsDatepicker formControlName="enddate"   [ngClass]="{
                  'is-invalid':
                    submitted && newHiresForm.get('enddate')?.hasError('required')
                }"
                [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MMM-YYYY' }">

                <div
                class="invalid-feedback"
                *ngIf="newHiresForm.get('enddate')?.hasError('required')"
                >
                End Date is required.
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Photo</label>
                <input
                cFormControl
                id="formFileSm"
                sizing="md"
                type="file"
                accept=".jpg,.jpeg,.png"
                (change)="onSelectFile($event)"
              />
<input type="hidden" formControlName="imagePath"
[ngClass]="{
'is-invalid':
  submitted &&
  newHiresForm.get('imagePath')?.errors
}" />
<div
class="invalid-feedback"
*ngIf="newHiresForm.get('imagePath')?.hasError('required')"
>
Photo is required.
</div>
                 <img [src]="imageSrc"
                 (click)="openFile(imageSrc)" height="80" class="mt-7" />
              <img
                *ngIf="isViewImage"
                [src]="viewImage"
                (click)="openFile(viewImage)"
                height="80"
                class="mt-7"
              />
              <br />
              <div *ngIf="isImageSuccess" class="success mt-2">
                File uploaded successfully!
              </div>
              <div *ngIf="isImageFail" class="badge-light-danger">
                File size must be less than 500 KB
              </div>

              </div>
            </div>

            <div class="col-md-6 mt-2">
              <div class="row">
                <div class="col-md-6">

                  <strong>Attachment<span class="is-required">*</span> </strong><span>  <span class="limit-text">Max limit 5MB</span></span>
                  <button *ngIf="this.attachmentLength!==1"
                    class="float-right ms-3"
                    (click)="addNew()"
                    cButton
                    color="primary"
                    size="sm"
                    type="button"
                  >
                  <i class="fa fa-plus"></i>
                  </button>

                </div>
                <div class="col-md-6">
                </div>
              </div>
              <div formArrayName="attachment">
                <div
                  *ngFor="let attachment of attachment.controls; let i = index"
                  [formGroupName]="i"
                  class="row mt-1"
                >
                  <div class="col-md-6">
                    <input
                      placeholder=" "
                      cFormControl
                      accept=".jpg,.jpeg,.png,.pdf,.xlsx,.docx"
                      (change)="onSelectAttachmentsFile($event, i)"
                      type="file"
                    />
                    <input
                      type="hidden"
                      formControlName="filepath"
                      placeholder="File Path"
                      [ngClass]="{
                        'is-invalid':
                          submitted && attachment.get('filepath')?.errors
                      }"
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="attachment.get('filepath')?.hasError('required')"
                    >
                      Attachment is required.
                    </div>
                  </div>
                  <div class="col-md-4">
                    <!-- <div *ngIf="attachment.get('fileType')?.value ==='pdf'">
<span   (click)="openFile(attachment.get('filePath')?.value)" class="curser"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
                    </div>
                    <div *ngIf="attachment.get('fileType')?.value ==='xlsx'">
<span   (click)="openFile(attachment.get('filePath')?.value)" class="curser"> <i class="fa fa-file-excel-o" aria-hidden="true"></i></span>
                    </div>
                    <div *ngIf="attachment.get('fileType')?.value ==='docx'">
<span   (click)="openFile(attachment.get('filePath')?.value)" class="curser"> <i class="fa fa-file-word-o" aria-hidden="true"></i></span>
                    </div> -->
                    <div >
                    <img
            *ngIf="attachment.get('filepath')?.value"
            [src]="attachment.get('filepath')?.value"
            height="60" width="80"
                      class="mt-7    curser"
                      (click)="openFile(attachment.get('filepath')?.value)"
                    />
                    </div>

                  </div>
                  <div class="col-md-2">
                    <button
                      class="float-right"
                      (click)="deleteA(i)"
                      cButton
                      color="primary"
                      size="sm"
                      type="button"
                    >
                    <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">

            </div>
            <div class="col-12 text-right">
             <button class="btn cancel-btn" size="lg"  (click)="routeToList()">
Cancel
             </button>
             <button class="btn save-btn ms-4"  size="lg" (click)="onSubmit()">
Save
             </button>
            </div>
          </div>
        </form>
        </c-card-body>
        </c-card>
  </div>
</div>
