

<div class="row">
<div class="col-md-12">



<div class="card1">
  <div class="text-content">
      <h2>Latest Company Award</h2>
      <p class="date">9 November 2023</p>
      <h3>Diwali Celebration event at office.</h3>
      <p>On November 9th 2023, our office radiated with the spirit of Diwali, as colleagues came together to celebrate the triumph of light over darkness...</p>
      <a href="#" class="read-more">Read More</a>
  </div>
  <div class="image-content">
    <img src="../../../../assets/images/finance-dep-img.png" alt="Diwali Celebration">
  </div>
</div>
</div>
</div>


<div class="row mt-4">
<div class="col-md-3 col-sm-6 mb-2">
<div class="feature-divs border-rad">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-2  col-lg-3  col-xl-3  col-xxl-3  ">
   <span>
        <img
        class="feature-img"
          src="../../../../assets/SVG/WorkspaceIMPLinks.svg"
          alt="My Happy SVG"
        />
      </span>
    </div>
    <div class="col-md-9 col-sm-9 col-10  col-lg-9 col-xl-9  col-xxl-9  ">
<div class="feature-text">Workspace / IMP Links</div>
    </div>
     </div>

</div>
</div>
<div class="col-md-3 col-sm-6  mb-2">
<div class="feature-divs border-rad">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-2  col-lg-3  col-xl-3  col-xxl-3  ">
   <span>
        <img
        class="feature-img"
          src="../../../../assets/SVG/FinancePoliciesHandbook.svg"
          alt="My Happy SVG"
        />
      </span>
    </div>
    <div class="col-md-9 col-sm-9 col-10  col-lg-9 col-xl-9  col-xxl-9 ">
<div class="feature-text">Finance Policies & Handbook </div>
    </div>
     </div>

</div>
</div>
<div class="col-md-3 col-sm-6  mb-2">
<div class="feature-divs border-rad">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-2  col-lg-3  col-xl-3  col-xxl-3 ">
   <span>
        <img
        class="feature-img"
          src="../../../../assets/SVG/TeamReports.svg"
          alt="My Happy SVG"
        />
      </span>
    </div>
    <div class="col-md-9 col-sm-9 col-10  col-lg-9 col-xl-9  col-xxl-9 ">
<div class="feature-text">Team Reports</div>
    </div>
     </div>

</div>
</div>
<div class="col-md-3 col-sm-6  mb-2">
<div class="feature-divs border-rad">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-2  col-lg-3  col-xl-3  col-xxl-3 ">
   <span>
        <img
        class="feature-img"
          src="../../../../assets/SVG/WebinarTraining.svg"
          alt="My Happy SVG"
        />
      </span>
    </div>
    <div class="col-md-9 col-sm-9 col-10  col-lg-9 col-xl-9  col-xxl-9 ">
<div class="feature-text">Webinar / Training</div>
    </div>
     </div>

</div>
</div>
 </div>

 <div class=" row mt-4 mb-4">
  <div class="col-md-12">
<div class="row">

  <div class="col-md-6" sm="6">
    <div class="text-center">
      <p class="section-headings">Employee Award</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="bg-white pb-3 pt-3 border-rad ps-3 ht-200px box-shadow">
          <div class="row">
<div class="col-md-10">

          <div class="row mb-2">
            <div class="col-md-4 col-sm-4  col-4">
              <div>
                <img
                  class="wid-100"
                  src="../../../../assets/images/emp_award.png"
                  alt="My Happy SVG"
                />
              </div>
            </div>
            <div class="col-md-8 col-sm-8  col-8">
              <div class="title">Star Of The Month Award</div>
              <div  class="title">
                February 8 , 2023.
              </div>
            </div>
          </div>
          <div class="row mb-2">
              <div class="col-md-12">
                <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                </div>
         </div>
         </div>
</div>
<div class="col-md-2">
  <div>
    <i class="fa fa-chevron-circle-right" style="color: #B15A1F;"></i>
  </div>
          </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="col-md-6"  sm="6">
    <div class="text-center">
      <p class="section-headings">Department Head</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="bg-white pb-1 pt-3 border-rad ps-3 ht-200px box-shadow">
                 <div class="row mb-2">
                   <div class="col-md-8  col-sm-8  col-8">
                     <div class="title">Sachin Kejriwal</div>
                     <div  class="title">
                      Chief Financial Officer
                     </div>
                     <div>
                      The finance department is responsible for daily record keeping and maintaining an accurate history of the company's financial records.
                     </div>
                   </div>
                   <div class="col-md-4 col-sm-4  col-4">
                     <div class="department-gead-img">
                       <img

                         src="../../../../assets/images/head.png"
                         alt="My Happy SVG"
                       />
                     </div>
                   </div>
                 </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

 <div class=" row mt-4 mb-4">
  <div class="col-md-12">
<div class="row">

  <div class="col-md-4">
    <div class="text-center">
      <p class="section-headings">Ongoing Projects</p>
    </div>
    <div class="bg-white border-rad box-shadow">
      <div class="row ps-4 pe-4 pt-4">
        <div class="col-md-12">
          <div class="row projects-title-divs border-rad">
            <div class="col-md-10 col-sm-11  col-10">
              <div class="projects-title">
                Simplifying the Business Reporting
              </div>
            </div>
            <div class="col-md-2 col-sm-1  col-2">
              <div class="projects-arrow">
                <img
                src="../../../../assets/SVG/left_arrow.svg"
                alt="My Happy SVG"
              />
              </div>
            </div>
          </div>

          <div class="row projects-title-divs border-rad">
            <div class="col-md-10 col-sm-11  col-10">
              <div class="projects-title">Customer financial processes...</div>
            </div>
            <div class="col-md-2 col-sm-1  col-2">
              <div class="projects-arrow">
                <img
                src="../../../../assets/SVG/left_arrow.svg"
                alt="My Happy SVG"
              />
              </div>
            </div>
          </div>

          <div class="row projects-title-divs border-rad">
            <div class="col-md-10 col-sm-11  col-10">
              <div class="projects-title">Standardisation of manufacturing</div>
            </div>
            <div class="col-md-2 col-sm-1  col-2">
              <div class="projects-arrow">
                <img
                src="../../../../assets/SVG/left_arrow.svg"
                alt="My Happy SVG"
              />
              </div>
            </div>
          </div>

          <div class="row projects-title-divs border-rad">
            <div class="col-md-10 col-sm-11  col-10">
              <div class="projects-title">Record Management</div>
            </div>
            <div class="col-md-2 col-sm-1  col-2">
              <div class="projects-arrow">
                <img
                src="../../../../assets/SVG/left_arrow.svg"
                alt="My Happy SVG"
              />
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <p class="section-headings">Upcoming Projects</p>
    </div>
    <div class="bg-white border-rad box-shadow">
      <div class="row ps-4 pe-4 pt-4">
        <div class="col-md-12">
          <div class="row projects-title-divs border-rad">
            <div class="col-md-10 col-sm-11  col-10">
              <div class="projects-title">
                Reducing TAT audit closure
              </div>
            </div>
            <div class="col-md-2 col-sm-1  col-2">
              <div class="projects-arrow">
                <img
                src="../../../../assets/SVG/left_arrow.svg"
                alt="My Happy SVG"
              />
              </div>
            </div>
          </div>

          <div class="row projects-title-divs border-rad">
            <div class="col-md-10 col-sm-11  col-10">
              <div class="projects-title">Updation of the DOA Matrix</div>
            </div>
            <div class="col-md-2 col-sm-1  col-2">
              <div class="projects-arrow">
                <img
                src="../../../../assets/SVG/left_arrow.svg"
                alt="My Happy SVG"
              />
              </div>
            </div>
          </div>

          <div class="row projects-title-divs border-rad">
            <div class="col-md-10 col-sm-11  col-10">
              <div class="projects-title"> Control Impairment risk of B2C...</div>
            </div>
            <div class="col-md-2 col-sm-1  col-2">
              <div class="projects-arrow">
                <img
                src="../../../../assets/SVG/left_arrow.svg"
                alt="My Happy SVG"
              />
              </div>
            </div>
          </div>

          <div class="row projects-title-divs border-rad">
            <div class="col-md-10 col-sm-11  col-10">
              <div class="projects-title">Finance policies including SOP</div>
            </div>
            <div class="col-md-2 col-sm-1 col-2">
              <div class="projects-arrow">
                <img
                src="../../../../assets/SVG/left_arrow.svg"
                alt="My Happy SVG"
              />
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-center">
      <p class="section-headings">Project Assigned To Me</p>
    </div>
    <div class="bg-white border-rad box-shadow">
      <div class="row ps-4 pe-4 pt-4">
        <div class="col-md-12">
          <div class="row projects-title-divs border-rad">
            <div class="col-md-10 col-sm-11  col-10">
              <div class="projects-title">
                Simplifying the Business Reporting
              </div>
            </div>
            <div class="col-md-2 col-sm-1  col-2">
              <div class="projects-arrow">
                <img
                src="../../../../assets/SVG/left_arrow.svg"
                alt="My Happy SVG"
              />
              </div>
            </div>
          </div>

          <div class="row projects-title-divs border-rad">
            <div class="col-md-10 col-sm-11  col-10">
              <div class="projects-title">Customer financial processes...</div>
            </div>
            <div class="col-md-2 col-sm-1  col-2">
              <div class="projects-arrow">
                <img
                src="../../../../assets/SVG/left_arrow.svg"
                alt="My Happy SVG"
              />
              </div>
            </div>
          </div>

          <div class="row projects-title-divs border-rad">
            <div class="col-md-10 col-sm-11  col-10">
              <div class="projects-title"> Updation of the DOA Matrix</div>
            </div>
            <div class="col-md-2 col-sm-1  col-2">
              <div class="projects-arrow">
                <img
                src="../../../../assets/SVG/left_arrow.svg"
                alt="My Happy SVG"
              />
              </div>
            </div>
          </div>

          <div class="row projects-title-divs border-rad ">
            <div class="col-md-10 col-sm-11  col-10">
              <div class="projects-title"> Control Impairment risk of B2C...</div>
            </div>
            <div class="col-md-2 col-sm-1  col-2">
              <div class="projects-arrow">
                <img
                src="../../../../assets/SVG/left_arrow.svg"
                alt="My Happy SVG"
              />
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
