

<div class="row">
<div class="col-md-12">

  <c-card class="mb-4">

    <c-card-body>

  <table cTable class="custom-table">
    <thead>
    <tr class="header-tr">
      <th scope="col">Image ID </th>
      <th scope="col">Title </th>
      <th scope="col">Category</th>
      <th scope="col">Created On</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Img12334567</th>
      <td>Declaration Window</td>
      <td>Organization Announcement</td>
      <td>25-03-2024</td>
      <td>
      <div>
        <img
        src="../../../../../assets/SVG/view-icon.svg"
        alt="My Happy SVG"
      /> <img class="ms-3"
      src="../../../../../assets/SVG/edit-icon.svg"
      alt="My Happy SVG"
    />
      </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Img12334567</th>
      <td>Declaration Window</td>
      <td>Organization Announcement</td>
      <td>25-03-2024</td>
      <td>
      <div>
        <img
        src="../../../../../assets/SVG/view-icon.svg"
        alt="My Happy SVG"
      /> <img class="ms-3"
      src="../../../../../assets/SVG/edit-icon.svg"
      alt="My Happy SVG"
    />
      </div>
      </td>
    </tr>
    <tr>
      <th scope="row">Img12334567</th>
      <td >Declaration Window</td>
      <td>Organization Announcement</td>
      <td>25-03-2024</td>
      <td>
      <div>
        <img
        src="../../../../../assets/SVG/view-icon.svg"
        alt="My Happy SVG"
      /> <img class="ms-3"
      src="../../../../../assets/SVG/edit-icon.svg"
      alt="My Happy SVG"
    />
      </div>
      </td>
    </tr>
    </tbody>
  </table>

    </c-card-body>
  </c-card>
</div>
</div>
