
<div class="row">
  <div class="col-md-12">
    <div class="bg-white pb-1 pt-4 border-rad ps-3 pe-3">

<div class="row">
  <div class="col-md-12  pb-4">
      <div class="row mt-3">
        <div class="col-md-3">
          <div>
            <img
              class="wid-100"
              src="../../../../assets/images/news-img.png"
              alt="My Happy SVG"
            />
          </div>
        </div>
        <div class="col-md-9">
          <div class="title mb-2">Kirloskar Vasundhara International Film Festival at Kolhapur</div>
          <div>
            The Kolhapur chapter of the 'Kirloskar Vasundhara International Film Festival' (KVIFF) was held on September 18-24, 2024. The festival has been organized in the city as part of its India tour across 25 locations in six states.
          </div>
          <div>
            The Kolhapur chapter of the 'Kirloskar Vasundhara International Film Festival' (KVIFF) was held on September 18-24, 2024. The festival has been organized in the city as part of its India tour across 25 locations in six states.
          </div>
          <div>
            The Kolhapur chapter of the 'Kirloskar Vasundhara International Film Festival' (KVIFF) was held on September 18-24, 2024. The festival has been organized in the city as part of its India tour across 25 locations in six states.
          </div>
        </div>
        <div class="col-12 mt-4">
<div>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 

</div>
<div>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
</div>
<div>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
</div>
        </div>

      </div>
    </div>
    </div>

    </div>
  </div>
</div>
