<div class=" row">
  <div class="col-12">

    <c-card class="mb-4">

      <c-card-body>
        <form>
          <div class=" row">

            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Name </label>
                <input cFormControl
                       id="exampleFormControlInput1"
                       disabled="true"
                       placeholder="Enter Name  here..."
                       type="text"
                       [(ngModel)]="name"  [ngModelOptions]="{standalone: true}"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Job Title</label>
                <input cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Enter Job Title here..."
                       type="text"
                       disabled="true"
                       [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="GradeName"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Email</label>
                <input cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Enter Email here..."
                       disabled="true"
                       type="text"
                       [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="email"
                />
              </div>
            </div>
            <div class="col-4">
              <div class="mb-3">
                <label cLabel for="exampleFormControlInput1">Department & Loaction</label>
                <input cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Department & Loaction ID"
                       type="text"
                       disabled="true"
                     [(ngModel)]="Department"  [ngModelOptions]="{standalone: true}"
                />
              </div>
            </div>

            <div class="col-4">
              <div class="mb-3">

              <div class="row">
<div class="col-8">
<label cLabel for="exampleFormControlInput1">Change Profile Picture</label>
                <input cFormControl
                       id="exampleFormControlInput1"
                       placeholder="Upload Change Profile Picture..."
                       type="file"sizing="sm"

                       accept=".jpg,.jpeg,.png"
                       (change)="onSelectFile($event)"
                />
</div>
<div class="col-4 pt-2">
  <button class="btn upload-btn  mt-4" [disabled]="profileImagePath===null" (click)="uploadProfileImg()">
                  Upload
                               </button>
</div>
              </div>
<div class="row">
<div class="col-12">
<img [src]="ProfileImage" class="Profile-img mt-3" alt="Profile Image">
</div>
</div>
              </div>
            </div>
            <div class="col-4">


              <div class="mb-3">

                <div class="row">
  <div class="col-8">
  <label cLabel for="exampleFormControlInput1">Change Wallpaper</label>
                  <input cFormControl
                         id="exampleFormControlInput1"
                         placeholder="Upload Change Wallpaper..."
                         type="file"sizing="sm"

                         accept=".jpg,.jpeg,.png"
                         (change)="onSelectWallerpaperFile($event)"
                  />
  </div>
  <div class="col-4 pt-2">
    <button class="btn upload-btn  mt-4" [disabled]="wallpaperImagePath===null" (click)="uploadWallpaperImg()">
                    Upload
                                 </button>
  </div>
                </div>
  <div class="row">
  <div class="col-12">
  <img [src]="wallpaperImage" class="wallpaper-img mt-3" alt="wallpaper Image">
  </div>
  </div>
                </div>
            </div>


            <!-- <div class="col-12 text-right">
             <button class="btn cancel-btn" size="lg">
Cancel
             </button>
             <button class="btn save-btn ms-4"  size="lg">
Save
             </button>
            </div> -->
          </div>
        </form>
        </c-card-body>
        </c-card>
  </div>
</div>
